A ICON "./ppt.ico"

#include <winver.h>

VS_VERSION_INFO VERSIONINFO
    FILEVERSION    2, 1, 1, 0
    PRODUCTVERSION 2, 1, 1, 0
    FILEFLAGSMASK  0x3fL
    FILEFLAGS      VS_FF_DEBUG
    FILEOS         VOS__WINDOWS32
    FILETYPE       VFT_APP
    FILESUBTYPE    0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "080404b0"
            BEGIN
                VALUE "FileDescription",  "copier 可以帮你拷贝课件" // 文件说明
                VALUE "InternalName",     "copier_v2.1.exe"        // 内部名称
                VALUE "ProductName",      "copier"                 // 产品名称
                VALUE "OriginalFilename", "copier_v2.1.exe"        // 原始文件名
                VALUE "LegalCopyright",   "作者: XN & XY"          // 版权
                VALUE "ProductVersion",   "2.1.1.0"                // 产品版本号
                VALUE "FileVersion",      "2.1.1.0"                // 文件版本
            END
        END
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x804, 1200
        END
    END
